In [9]:
import pandas as pd
import datetime as dt
data=pd.read_excel('archive/putaway_database.xlsx')
def putaway_table(shift,day,schedule):
    import datetime as dt
    import pandas as pd
    data=pd.read_excel('archive/putaway_database.xlsx')
    def putaway_rate(user,hour,day): 
        rate=len(data[(data['Usr']==user)&(data['Sort_hour']==hour)&(data['Sort_Date']==str(day)[:-9])]['lpn'].unique())
        return rate
    data=data.sort_values('Sort_date_time',ascending=False)
    users=data[(data['Sort_Date']==str(day)[:10]) & (data['Shft']==shift)]['Usr'].unique()
    df=pd.DataFrame(columns=schedule, index=users)
    for name in users:
        for hour in schedule:
            df[hour][name]= putaway_rate(name,hour,day)
    rates=df[df[df.columns]>20].mean(axis=1)
    df['Rates']=rates
    df=df.sort_values('Rates',ascending=False)
    temp=df.sum(axis=0)
    df=df.T
    df['Total']=temp
    df=df.T
    dic={name: 0 for name in df.index}
    for name in dic.keys():
        if name!='Total':
            dic[name]=data[data['Usr']==name]['Lvl'].iloc[0]
        else:
            dic[name]=0
    df.insert(0,'Current Level',dic.values())
    df['Rates']['Total']=df.loc['Total'][1:-1].mean()
    aux=df[df.columns[1:]].T
    aux['hours']=aux.index
    
    return (df,aux)

In [12]:
shift='Morning shift'
day=dt.datetime(2020,7,20)
input_day=str(fx.date_reader())
schedule=['04AM','05AM','06AM','07AM','08AM','09AM','10AM','11AM','12AM']
main,aux=putaway_table(shift,day,schedule)
main
aux

C:\Users\maxim\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,"Crystal,Knott","Gnamien,Gbasse","Jamaal,Anderson","Quinndel,Scott-Wright","Rolando,Rodriguez","Andy,Garcia","Manuel,Martinez Suarez","Miguel,Barros","Hansel,Reynoso","Anthony,Alexander",Total,hours
04AM,20,89,0,85,0,0,80,0,2,16,292,04AM
05AM,0,7,0,11,0,0,4,0,0,0,22,05AM
06AM,0,0,94,0,26,68,0,9,0,0,197,06AM
07AM,0,0,84,0,58,40,0,0,0,0,182,07AM
08AM,0,0,116,0,81,60,0,0,0,0,257,08AM
09AM,0,0,0,0,112,54,0,0,0,0,166,09AM
10AM,0,0,75,0,98,1,0,0,0,0,174,10AM
11AM,0,0,58,0,15,57,0,0,0,0,130,11AM
12AM,119,91,0,0,0,0,31,0,0,0,241,12AM
Rates,119,90,85.4,85,75,55.8,55.5,NaN,NaN,NaN,184.556,Rates

In [ ]:
#ARREGLAR EL DROPBOX LIST