In [316]:
from apps import functions as fx
import pandas as pd
reference='Night shift'
file_name=str(fx.date_reader())[5:10]+reference+'.xlsx'
main,aux=fx.get_main_aux(file_name)

C:\Users\mramirez\Desktop\Maximiliano Vedoya Ramirez\Dashboards development\Web\apps\functions.py:385: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\mramirez\Desktop\Maximiliano Vedoya Ramirez\Dashboards development\Web\apps\functions.py:413: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [319]:
temp=[main[main['Last Location']==location] for location in top_100]
main_table_1=pd.concat(temp,axis=0)
temp=[main[main['Last Location']==location] for location in top_50]
main_table_2=pd.concat(temp,axis=0)
main_table_total=main[main['Last Location']=='---']

main_table_1=main_table_1.drop_duplicates().sort_values('Rate',ascending=True).replace('nan',' ')
main_table_total

,Reference,Last Location,20:00-21:00,21:00-22:00,22:00-23:00,23:00-0:00,0:00-1:00,1:00-2:00,2:00-3:00,3:00-4:00,Rate
Name,,,,,,,,,,,
Total,Total,---,248.0,363.0,295.0,244.0,76.0,91.0,19.0,9.0,168.12