In [61]:
import pandas as pd
from apps import functions as fx


morning=[('4:00','5:00'),('5:00','6:00'),('6:00','7:00'),('7:00','8:00'),
                ('8:00','9:00'),('9:00','10:00'),('10:00','11:00'),('11:00','12:00')]
afternoon=[('12:00','13:00'),('13:00','14:00'),('14:00','15:00'),('15:00','16:00'),
                ('16:00','17:00'),('17:00','18:00'),('18:00','19:00'),('19:00','20:00')]
night=[('20:00','21:00'),('21:00','22:00'),('22:00','23:00'),('23:00','0:00'),
                ('0:00','1:00'),('1:00','2:00'),('2:00','3:00'),('3:00','4:00')]

input_day=str(fx.date_reader())[5:10]
data=pd.read_excel('archive/Pulling/database.xlsx')
fx.get_rates(reference,morning,fx.date_reader(),data)
file_name=str(fx.date_reader())[5:10]+reference+'.xlsx'


main,aux=fx.get_main_aux(file_name)
df=fx.main_table(file_name)
results_table=fx.get_results_table(file_name,df)


#The following is to split the main table into 3 different sections 
top_100=['001/AMMS','07S/A07S','07N/A07N','08N/A08N','08S/A08S', '09B/A09B','09S/A09S','09N/A09N',0]
top_50=['RL1/AMRV','RL2/AMRV','RL3/AMRV','RL4/AMRV','SHR/SHRE']
total=['---']
temp=[main[main['Last Location']==location] for location in top_100]
main_table_1=pd.concat(temp,axis=0).drop_duplicates().replace('nan',0)
main_table_1['Rate']=main_table_1.Rate.astype(float)
main_table_1.sort_values('Rate',ascending=False,inplace=True)



temp=[main[main['Last Location']==location] for location in top_50]
main_table_2=pd.concat(temp,axis=0).drop_duplicates().replace('nan',0)
main_table_total=main[main['Last Location']=='---']

C:\Users\mramirez\Desktop\Maximiliano Vedoya Ramirez\Dashboards development\Web\apps\functions.py:386: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last Location']['Total']='---'
C:\Users\mramirez\Desktop\Maximiliano Vedoya Ramirez\Dashboards development\Web\apps\functions.py:441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main['Rate']['Total']=main.loc['Total'][2:-1][main.loc['Total'][2:-1]>0].mean()

In [67]:
main_table_1['Rate']=main_table_1.Rate.astype(float)
main_table_1.sort_values('Rate',ascending=False,inplace=True)

In [68]:
main_table_1

,Reference,Last Location,4:00-5:00,5:00-6:00,6:00-7:00,7:00-8:00,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00,Rate
Name,,,,,,,,,,,
"Nana,Dompo","Nana,Dompo",07S/A07S,0.0,0.0,0.0,0.0,0.0,85.0,134.0,9.0,109.50
"Miguel,Barros","Miguel,Barros",09S/A09S,0.0,0.0,17.0,0.0,81.0,125.0,7.0,0.0,103.00
"Wayne,Frederick","Wayne,Frederick",08S/A08S,49.0,0.0,86.0,116.0,0.0,86.0,132.0,17.0,93.80
"Jamaal,Anderson","Jamaal,Anderson",08N/A08N,0.0,9.0,84.0,97.0,94.0,87.0,85.0,0.0,89.40
"Alina,Castillo Alcantara","Alina,Castillo Alcantara",09N/A09N,74.0,88.0,89.0,88.0,0.0,47.0,92.0,37.0,73.57
"Audrey,Henry","Audrey,Henry",09B/A09B,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [34]:
main

,Reference,Last Location,4:00-5:00,5:00-6:00,6:00-7:00,7:00-8:00,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00,Rate
Name,,,,,,,,,,,
"Miguel,Barros","Miguel,Barros",09S/A09S,0.0,0.0,17.0,0.0,81.0,125.0,7.0,0.0,103.00
"Jamaal,Anderson","Jamaal,Anderson",08N/A08N,0.0,9.0,84.0,97.0,96.0,87.0,73.0,0.0,87.40
"Wayne,Frederick","Wayne,Frederick",08S/A08S,49.0,0.0,86.0,116.0,0.0,86.0,88.0,0.0,85.00
"Janeth,Falquez","Janeth,Falquez",RL3/AMRV,63.0,92.0,91.0,77.0,142.0,7.0,22.0,0.0,81.17
"Nana,Dompo","Nana,Dompo",07S/A07S,0.0,0.0,0.0,0.0,0.0,85.0,71.0,0.0,78.00
"Alina,Castillo Alcantara","Alina,Castillo Alcantara",09N/A09N,74.0,88.0,89.0,88.0,0.0,47.0,76.0,0.0,77.00
"Yave,Caba Corona","Yave,Caba Corona",07N/A07N,0.0,0.0,43.0,71.0,56.0,69.0,29.0,0.0,53.60
"Luis,Naula Jara","Luis,Naula Jara",07S/A07S,23.0,60.0,31.0,85.0,0.0,0.0,0.0,0.0,49.75
"Marlon,Armstrong","Marlon,Armstrong",SHR/SHRE,10.0,52.0,38.0,41.0,36.0,0.0,14.0,0.0,41.75
"Audrey,Henry","Audrey,Henry",09B/A09B,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nan
"Lorenzo,Peralta Santos","Lorenzo,Peralta Santos",EL1/AFLO,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,nan
Total,Total,---,225.0,301.0,479.0,575.0,411.0,506.0,381.0,0.0,411.14