In [250]:
import pandas as pd
import datetime 


morning=[('4:00','5:00'),('5:00','6:00'),('6:00','7:00'),('7:00','8:00'),
                    ('8:00','9:00'),('9:00','10:00'),('10:00','11:00'),('11:00','12:00')]
afternoon=[('12:00','13:00'),('13:00','14:00'),('14:00','15:00'),('15:00','16:00'),
                    ('16:00','17:00'),('17:00','18:00'),('18:00','19:00'),('19:00','20:00')]
night=[('20:00','21:00'),('21:00','22:00'),('22:00','23:00'),('23:00','0:00'),
                    ('0:00','1:00'),('1:00','2:00'),('2:00','3:00'),('3:00','4:00')]
shifts=[('Night shift',night),('Morning shift',morning),('Afternoon shift',afternoon)]


for i in range(16):
    today=datetime.datetime.today()
    day=today-datetime.timedelta(days=i)
    for shift in shifts:
        file_name=str(day)[5:10]+shift[0]+'.xlsx'
        df=pd.read_excel('archive/Pulling/'+file_name)
        try:
            df['Last Location']
        except:
            df['Last Location']=0
            df.to_excel('archive/Pulling/'+file_name)

,Hour,Headcount,adjust,adjusted_Headcount,Exp_Rate/person,Exp_Rate
0,4:00-5:00,5,0.5,4.5,100,450.0
1,5:00-6:00,6,1.0,5.0,100,500.0
2,6:00-7:00,8,1.0,7.0,100,700.0
3,7:00-8:00,5,0.5,4.5,100,450.0
4,8:00-9:00,3,0.0,3.0,100,300.0
5,9:00-10:00,5,1.0,4.0,100,400.0
6,10:00-11:00,6,1.0,5.0,100,500.0
7,11:00-12:00,4,1.5,2.5,100,250.0

3550.0 3805.0

In [172]:
df

,4:00-5:00,5:00-6:00,6:00-7:00,7:00-8:00,8:00-9:00,9:00-10:00,10:00-11:00,11:00-12:00
Last Location,,,,,,,,
08S/A08S,88.0,146.0,146.0,157.0,NaN,129.0,65.0,NaN
08N/A08N,99.0,108.0,86.0,117.0,107.0,NaN,NaN,NaN
09S/A09S,33.0,117.0,125.0,115.0,102.0,NaN,85.0,117.0
08N/A08N,NaN,NaN,23.0,132.0,117.0,121.0,67.0,NaN
RL3/AMRV,53.0,97.0,117.0,104.0,NaN,96.0,69.0,34.0
09S/A09S,49.0,119.0,55.0,NaN,NaN,84.0,81.0,NaN
RL1/AMRV,NaN,NaN,NaN,NaN,NaN,77.0,77.0,60.0
RL2/AMRV,NaN,56.0,36.0,NaN,NaN,NaN,NaN,54.0
001/AMMS,NaN,NaN,44.0,NaN,NaN,NaN,NaN,NaN
SHR/SHRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RL3/AMRV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
09B/A09B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN